#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.header-scoreboard-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: ;
}

.header-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
